<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pud-quicklook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F0C2A921DBF420600AD7D07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F0C2AA61DBF426100AD7D07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FCED17F1DAACAFF00C71689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FCED1941DAACD8F00C71689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FCED19C1DAACE0900C71689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
